* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.wrapper {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
section {
  height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  background-image: url("/public/images/Ellipse_1_copy.jpg");
  background-size: 300%;
  background-repeat: no-repeat;
}
.wrapper section:nth-child(1) {
  background-position: left;
}
.wrapper section:nth-child(2) {
  background-position: center;
}
.wrapper section:nth-child(3) {
  background-position: right;
}
.main-el {
  position: absolute;
}
.main-el:nth-child(1) {
  left: 66px;
  top: 26px;
  z-index: 3;
}
.main-el:nth-child(2) {
  left: 66px;
  bottom: 26px;
  z-index: 3;
}

